<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="ListenersConfiguration"
             type="ClusterixN.Common.Configuration.Listener.ListenersConfigSection, ClusterixN.Common" />
    <section name="ConnectionsConfiguration"
             type="ClusterixN.Common.Configuration.Connection.ConnectionsConfigSection, ClusterixN.Common" />
    <section name="ClusterixN.Common"
             type="ClusterixN.Common.Configuration.ConfigurationElement.BaseServicesConfigurationSectionHandler, ClusterixN.Common" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <ClusterixN.Common>
    <add key="ClusterixN.Common.Interfaces.ILogService"
         value="ClusterixN.Infrastructure.Logging.NLogService, ClusterixN.Infrastructure.Logging" />
    <add key="ClusterixN.Common.Interfaces.IConfigurationService"
         value="ClusterixN.Common.Configuration.ConfigurationService, ClusterixN.Common" />
    <add key="ClusterixN.Common.Interfaces.IDatabaseService"
         value="ClusterixN.Database.FastMySQL.DatabaseService, ClusterixN.Database.FastMySQL" />
  </ClusterixN.Common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <variable name="ApplicationDir" value="."></variable>
    <targets>
      <target name="console" xsi:type="ColoredConsole" layout="[${longdate}] ${level:uppercase=true} ${callsite:skipFrames=1} ${message} ${onexception:\n\rEXCEPTION OCCURRED:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>

  <connectionStrings>
    <add name="Default" connectionString="Server=127.0.0.1;Uid=root;Pwd=;Database=tpch1;DefaultCommandTimeout=86400;" />
  </connectionStrings>

  <appSettings>
    <add key="MySQL_Engine" value="MEMORY" />
  </appSettings>

<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>