<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ClusterixN.Infrastructure"
             type="ClusterixN.Infrastructure.ConfigurationElement.BaseServicesConfigurationSectionHandler, ClusterixN.Infrastructure" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <ClusterixN.Infrastructure>
    <add key="ClusterixN.Infrastructure.Interfaces.ILogService"
         value="ClusterixN.Infrastructure.Logging.NLogService, ClusterixN.Infrastructure.Logging" />
    <add key="ClusterixN.Infrastructure.Interfaces.IConfigurationService"
         value="ClusterixN.Infrastructure.ConfigurationService, ClusterixN.Infrastructure" />
    <add key="ClusterixN.Infrastructure.Interfaces.IDatabaseService"
         value="ClusterixN.Database.MySQL.DatabaseService, ClusterixN.Database.MySQL" />
  </ClusterixN.Infrastructure>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true">
    <variable name="ApplicationDir" value="."></variable>
    <targets>
      <target name="logfile" xsi:type="File"
              fileName="debug_log_processor.log"
              layout="[${longdate}] ${level:uppercase=true} ${callsite:skipFrames=1} ${message} ${onexception:\n\rEXCEPTION OCCURRED:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
              archiveEvery="Day"
              archiveDateFormat="yyyyMMdd"
              archiveFileName="archive_log_processor_{#}.log"
              archiveNumbering="Date"
              encoding="utf-8"
              fileNameKind="Relative"
              maxArchiveFiles="14"
              keepFileOpen="false" />
      <target name="console" xsi:type="ColoredConsole"
              layout="[${longdate}] ${level:uppercase=true} ${callsite:skipFrames=1} ${message} ${onexception:\n\rEXCEPTION OCCURRED:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console" />
      <logger name="*" minlevel="Trace" writeTo="logfile" />
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
