<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="ListenersConfiguration"
             type="ClusterixN.Common.Configuration.Listener.ListenersConfigSection, ClusterixN.Common" />
    <section name="ConnectionsConfiguration"
             type="ClusterixN.Common.Configuration.Connection.ConnectionsConfigSection, ClusterixN.Common" />
    <section name="ClusterixN.Common"
             type="ClusterixN.Common.Configuration.ConfigurationElement.BaseServicesConfigurationSectionHandler, ClusterixN.Common" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <ClusterixN.Common>
    <add key="ClusterixN.Common.Interfaces.ILogService"
         value="ClusterixN.Infrastructure.Logging.NLogService, ClusterixN.Infrastructure.Logging" />
    <add key="ClusterixN.Common.Interfaces.IConfigurationService"
         value="ClusterixN.Common.Configuration.ConfigurationService, ClusterixN.Common" />
    <add key="ClusterixN.Common.Interfaces.IDatabaseService"
         value="ClusterixN.Database.MySQL8.DatabaseService, ClusterixN.Database.MySQL8" />
    <add key="ClusterixN.Common.Interfaces.IHasher"
         value="ClusterixN.Common.Utils.Hasher.SequenceHashHelper, ClusterixN.Common" />
    <!--<add key="ClusterixN.Common.Interfaces.IHasher"
         value="ClusterixN.Common.Utils.Hasher.ParallelHashHelper, ClusterixN.Common" />-->
  </ClusterixN.Common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true">
    <variable name="ApplicationDir" value="."></variable>
    <targets>
      <target name="logfile" xsi:type="File"
              fileName="debug_io.log"
              layout="[${longdate}] ${level:uppercase=true} ${callsite:skipFrames=1} ${message} ${onexception:\n\rEXCEPTION OCCURRED:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"
              archiveEvery="Day"
              archiveDateFormat="yyyyMMdd"
              archiveFileName="archive_io_{#}.log"
              archiveNumbering="Date"
              encoding="utf-8"
              fileNameKind="Relative"
              maxArchiveFiles="14"
              keepFileOpen="false" />
      <target name="timeCsv" xsi:type="File" fileName="times.csv"
              archiveFileName="times.{####}.csv"
              archiveNumbering="Sequence" >
        <layout xsi:type="CSVLayout">
          <column name="time" layout="${longdate}" />
          <column name="logger" layout="${logger}"/>
          <column name="level" layout="${level}"/>
          <column name="message" layout="${message}" />
        </layout>
      </target>
      <target name="console" xsi:type="ColoredConsole"
              layout="[${longdate}] ${level:uppercase=true} ${callsite:skipFrames=1} ${message} ${onexception:\n\rEXCEPTION OCCURRED:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
      <target name="Database" xsi:type="Database" keepConnection="false"
              useTransactions="false"
              dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
              connectionString="Data Source=timeLog.db;Version=3;"
              commandText="INSERT INTO times(Timestamp, Module, Operation, `From`, `To`, QueryId, SubQueryId, RelationId, Duration) 
              VALUES(@Timestamp, @Module, @Operation, @From, @To, @QueryId, @SubQueryId, @RelationId, @Duration)">
        <parameter name="@Timestamp" layout="${event-properties:Time:format=yyyy-MM-dd HH\:mm\:ss.fff}"/>
        <parameter name="@Module" layout="${event-properties:Module}"/>
        <parameter name="@Operation" layout="${event-properties:Operation}"/>
        <parameter name="@From" layout="${event-properties:From}"/>
        <parameter name="@To" layout="${event-properties:To}"/>
        <parameter name="@QueryId" layout="${event-properties:QueryId}"/>
        <parameter name="@SubQueryId" layout="${event-properties:SubQueryId}"/>
        <parameter name="@RelationId" layout="${event-properties:RelationId}"/>
        <parameter name="@Duration" layout="${event-properties:Duration}"/>
      </target>
      <target name="PerfDatabase" xsi:type="Database" keepConnection="false"
              useTransactions="false"
              dbProvider="System.Data.SQLite.SQLiteConnection, System.Data.SQLite"
              connectionString="Data Source=performance.db;Version=3;"
              commandText="INSERT INTO performance(Timestamp, Module, Counter, `Value`) 
              VALUES(@Timestamp, @Module, @Counter, @Value)">
        <parameter name="@Timestamp" layout="${event-properties:Time:format=yyyy-MM-dd HH\:mm\:ss.fff}"/>
        <parameter name="@Module" layout="${event-properties:Module}"/>
        <parameter name="@Counter" layout="${event-properties:Counter}"/>
        <parameter name="@Value" layout="${event-properties:Value}"/>
      </target>
    </targets>
    <rules>
      <logger name="defaultLogger" minlevel="Trace" writeTo="console" />
      <logger name="defaultLogger" minlevel="Trace" writeTo="logfile" />
      <logger name="timeLogger" minlevel="Trace" writeTo="Database" />
      <logger name="performanceLogger" minlevel="Trace" writeTo="PerfDatabase" />
    </rules>
  </nlog>

  <ConnectionsConfiguration>
    <Connections>
      <add name="DefaultServer" address="localhost" port="1234" />
    </Connections>
  </ConnectionsConfiguration>

  <ListenersConfiguration>
    <Listeners>
      <add name="DefaultListener" port="10001" />
    </Listeners>
  </ListenersConfiguration>

  <connectionStrings>
    <add name="Default" connectionString="Server=127.0.0.1;Uid=root;Pwd=;Database=tpch;ConnectionTimeout=86400;DefaultCommandTimeout=86400" />
    <add name="MultiDB_0" connectionString="Server=127.0.0.1;Uid=root;Pwd=;Database=tpch_0;ConnectionTimeout=86400;DefaultCommandTimeout=86400" />
    <add name="MultiDB_1" connectionString="Server=127.0.0.1;Uid=root;Pwd=;Database=tpch_1;ConnectionTimeout=86400;DefaultCommandTimeout=86400" />
    <add name="MultiDB_2" connectionString="Server=127.0.0.1;Uid=root;Pwd=;Database=tpch_2;ConnectionTimeout=86400;DefaultCommandTimeout=86400" />
    <add name="MultiDB_3" connectionString="Server=127.0.0.1;Uid=root;Pwd=;Database=tpch_3;ConnectionTimeout=86400;DefaultCommandTimeout=86400" />
  </connectionStrings>

  <appSettings>
    <add key="ModuleName" value="IO_1"/>
    <add key="BlockSize" value="1000000"/>
    <add key="DataDir" value="tmp"/>
    <add key="MinRamAvaible" value="1" />
    <add key="MySQL_Engine" value="MEMORY" />
    <add key="WorkMode" value="Default" />
    <add key="WorkCoresCount" value="2" />
    <add key="HashQueueBind" value="0" />
    <add key="IndexRelationsAfterLoad" value="0" />
    <add key="MultiDB" value="0" />
  </appSettings>

</configuration>